
.filter_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_container p{
    font-size: 18px;
}

.select_container{
    display: flex;
    gap: 10px;
}

.select{
    width: 200px;
}

@media (max-width: 768px) {
    .select_container {
      display: none;
    }
  }